
body {font-family: Verdana, sans-serif;}

.rbc-button-link {
  color: black;
}

.rbc-off-range-bg {
  background-color: #16a34a;
}

.rbc-toolbar-label {
  font-size: 40px;
  font-weight: bolder;
}

.rbc-event {
  background: black;
}

.rbc-event-content {
  background-color: black;
}

.rbc-event.rbc-selected {
  background-color: black;
}

.rbc-event.rbc-selected {
  background-color: black;
}

.rbc-toolbar button {
  color: black;
}

#value {
  background-color: #dc2626;
  
}
